<p>Feedback for...</p>


<% @feedback.each do |fb| %>
<p> <%= fb.feedback %> rack also has...<%= fb.site %></p>
<p><%= link_to 'Delete', fb, :method => :delete, :data => { :confirm => 'delete feedback?' } %> | <%= link_to 'Edit', edit_feedback_path(fb) %></p>
<% end %>