<h1>faq</h1>
<p> This is where some FAQ's will be answered and some basic instructions given. There is still some functionallity to some like mobile scaling and location based raoming and some other cool things I don't know how to do... In the mean time enjoy. </p>