/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";

body {
 	max-width: 900px;
 	margin-left: auto;
 	margin-right: auto;
 	margin-top: 2%;
 	background-color: transparent;
  -webkit-box-shadow: 10px 10px 5px -2px #888;
      box-shadow: 10px 10px 5px -2px #888;
  border-left: 2px solid #888;
  border-top: 2px solid #888;
  border-bottom: 2px solid #888;
  border-right: 2px solid #888;

 }

#container	{
	width: 800px;	
	margin: auto;
}

#map-wrapper {	
	height: 600px;
	max-width: 100%;
	display: inline-block;
}

#map-canvas{
	max-width: 100%; 
	height: 300px;
	margin: 5px;
}
 
#pano{
	max-width: 100%; 
	height: 300px;
	margin: 5px;

}

.info-box {
	padding: 5px;
	width: 100%; 
	height: auto; 
	

}

.backg {
	width: 100%;
	height: 100%;
	padding-top: 2em;
	padding-bottom: 2em;
}

#txtarea {
	width: 90%;

}

footer {
	bottom:0px;
	margin-top: 2em;
	padding-top: 1em;
}

.navbar-header {
	margin-bottom: 4em;
}
